<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="StorageSection" type="Forge.Persistence.StorageProviders.ConfigSection.StorageSection, Forge.Persistence, Culture=neutral, PublicKeyToken=97960309cfe8d317" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="false" requirePermission="true" />
	</configSections>

	<StorageSection>
		<CategoryPropertyItems>
			<add id="NHibernateProvider">
				<PropertyItems>
					<add id="Default">
						<PropertyItems>
							<add id="DatabaseManager" entryValue="Forge.DatabaseManagement.SqlServer2008.MsSql2008Manager, Forge.DatabaseManagement.SqlServer2008">
								<PropertyItems>
									<add id="ConnectionStringForAdministration" entryValue="Data Source=.\SQLEXPRESS2019; User Id=sa; Password=Passw0rd" />
								</PropertyItems>
							</add>
							<add id="NHibernateSettings">
								<PropertyItems>
									<add id="dialect" entryValue="Forge.DatabaseManagement.SqlServer2008.MsSql2008Dialect, Forge.DatabaseManagement.SqlServer2008" />
									<add id="connection.provider" entryValue="NHibernate.Connection.DriverConnectionProvider" />
									<add id="connection.driver_class" entryValue="NHibernate.Driver.Sql2008ClientDriver" />
									<add id="connection.connection_string_name" entryValue="NHibernateStorageProviderSQLServer2008" />
									<add id="connection.isolation" entryValue="ReadCommitted" />
									<add id="cache.use_query_cache" entryValue="false" />
									<add id="cache.use_second_level_cache" entryValue="false" />
									<add id="adonet.batch_size" entryValue="10" />
									<add id="show_sql" entryValue="false" />
									<add id="command_timeout" entryValue="60" />
									<add id="query.substitutions" entryValue="true 1, false 0, yes 'Y', no 'N'" />
									<add id="max_fetch_depth" entryValue="3" />
									<add id="use_reflection_optimizer" entryValue="true" />
								</PropertyItems>
							</add>
						</PropertyItems>
					</add>
				</PropertyItems>
			</add>
		</CategoryPropertyItems>
	</StorageSection>

</configuration>