<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="ThreadPoolSection" type="HVS.Forge.Threading.ConfigSection.ThreadPoolSection, HVS.Forge.Threading, Culture=neutral, PublicKeyToken=5d8d4d737619f147" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="false" requirePermission="true" />
    <section name="StorageSection" type="HVS.Forge.Persistence.StorageProviders.ConfigSection.StorageSection, HVS.Forge.Persistence.StorageProviders, Culture=neutral, PublicKeyToken=5d8d4d737619f147" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="false" requirePermission="true" />
    <section name="TerraGrafSection" type="HVS.Forge.Net.TerraGraf.ConfigSection.TerraGrafSection, HVS.Forge.Net.TerraGraf, Culture=neutral, PublicKeyToken=5d8d4d737619f147" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
  </configSections>

  <appSettings>
    <add key="log4net.Internal.Debug" value="false" />
    <add key="ApplicationID" value="TESTING" />
  </appSettings>

  <connectionStrings>
    <add name="NHibernateTest" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS2008; Database=NHibernateTest; Integrated Security=True; Integrated Security=SSPI"/>
    <add name="NHibernateStorageProvider" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS2008; Database=NHibernateStorageProvider; Integrated Security=True; Integrated Security=SSPI"/>
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.4000" newVersion="3.3.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.Sql2008ClientDriver</property>
      <property name="connection.connection_string">Data Source=.\SQLEXPRESS2008; Database=NHibernateTest; Integrated Security=True; Integrated Security=SSPI</property>
      <property name="connection.isolation">ReadCommitted</property>
      <property name="cache.use_query_cache">false</property>
      <property name="cache.use_second_level_cache">false</property>
      <property name="adonet.batch_size">10</property>
      <property name="show_sql">false</property>
      <property name="command_timeout">60</property>
      <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
      <property name="max_fetch_depth">3</property>
    </session-factory>
  </hibernate-configuration>

  <TerraGrafSection>
    <CategoryPropertyItems>

      <add id="Settings">
        <PropertyItems>

          <!-- Ha ez az opció aktív, akkor ez a kliens letagad minden kapcsolatot, még a saját Network Context-jáben lévőket is -->
          <!-- Ennek az lesz a következménye, hogy ezt a kliens nem fogják átmenő forgalommal terhelni, ellenben a hálózat -->
          <!-- áteresztő képessége és átjárhatósága csökken. -->
          <add id="BlackHole" entryValue="false" />

          <!-- Csatlakozás alapértelmezett érték miliszekundumban. -1 végtelen -->
          <add id="DefaultConnectionTimeoutInMS" entryValue="30000" />

          <!-- Felülírhatjuk, hogy a rendszer hányszor engedjen továbbítani egy keringő, gazdátlan üzenetet -->
          <add id="MaxMessagePassageNumber" entryValue="3" />

          <!-- IPV6 protokol engedélyezése -->
          <add id="EnableIPV6" entryValue="false" />

        </PropertyItems>
      </add>

      <add id="NetworkPeering">
        <PropertyItems>

          <!-- NAT gateway-ek listája. A routeren beállított DynDNS és port forward szabályokat -->
          <!-- ki lehet publikálni. Ekkor a külső hálózatokból érkező peer-ek is be tudnak kapcsolódni -->
          <add id="NAT_Gateways">
            <PropertyItems>
              <add id="0" entryValue="pierrot.dyndns-home.com:17625" />
            </PropertyItems>
          </add>

          <!-- TCP szerverek listája -->
          <add id="TCPServers">
            <PropertyItems>
              <!-- Megadhatjuk, hogy automatikusan válasszon portot és interface-t -->
              <add id="Auto" entryValue="false">
                <PropertyItems>
                  <!-- Ha az automatika tiltva van, akkor itt kézzel megadhatjuk, hogy mely interface-eken és portokon figyeljen -->
                  <add id="0" entryValue="0.0.0.0:59700" />
                </PropertyItems>
              </add>
            </PropertyItems>
          </add>

          <!-- Megadhatunk fix listát is, hogy hová próbálkozzon csatlakozni -->
          <add id="TCP_Connections">
            <PropertyItems>

              <add id="0" entryValue="0.0.0.0:59700">
                <PropertyItems>
                  <!-- Ha sikertelen a kapcsolódás vagy a kapcsolat szétment, akkor próbálkozzon-e újrakapcsolódni -->
                  <add id="ReconnectOnFailure" entryValue="true" />
                  <!-- Az egyes újrakapcsolódások között mennyit várakozzon -->
                  <add id="DelayBetweenAttempsInMS" entryValue="1000" />
                </PropertyItems>
              </add>

            </PropertyItems>
          </add>

          <!-- Engedélyezzük az UDP felderítést -->
          <add id="UDP_Detection" entryValue="true">
            <PropertyItems>

              <!-- A felsorolt portok közül, az első szabad portra, amit talál ráül és figyel -->
              <add id="Broadcast_Listening_Ports">
                <PropertyItems>
                  <add id="0" entryValue="58600" />
                  <add id="1" entryValue="58601" />
                  <add id="2" entryValue="58602" />
                </PropertyItems>
              </add>

              <!-- A peer-ek keresésekor az alábbi portokra küld ki üzenetet a broadcast címen -->
              <add id="Broadcast_Target_Ports">
                <PropertyItems>
                  <add id="0" entryValue="58600" />
                  <add id="1" entryValue="58601" />
                  <add id="2" entryValue="58602" />
                </PropertyItems>
              </add>

            </PropertyItems>
          </add>

        </PropertyItems>
      </add>

      <!-- Saját context nevem definiálása -->
      <add id="NetworkContext" entryValue="HVS_DEV">
        <PropertyItems>

          <!-- Context-ek szeparálhatóságának beállítása -->
          <add id="Separation" entryValue="false">
            <PropertyItems>

              <!-- WhiteList used when the separation enabled -->
              <add id="WhiteList">
                <PropertyItems>
                  <!-- Pierrot és PestBuda között van átjárás -->
                  <add id="Rule0" entryName="Pierrot" entryValue="PestBuda" />
                  <!-- Pierrot és HVS_DEV között van átjárás -->
                  <add id="Rule1" entryName="Pierrot" entryValue="HVS_DEV" />
                  <!-- HVS_DEV-et bárki láthatja és fordítva -->
                  <add id="Rule2" entryName="HVS_DEV" entryValue="*" />
                </PropertyItems>
              </add>

              <!-- BlackList used when the separation disabled -->
              <add id="BlackList">
                <PropertyItems>
                  <!-- Pierrot és PestBuda között nincs átjárás -->
                  <add id="Rule0" entryName="Pierrot" entryValue="PestBuda" />
                  <!-- Pierrot és HVS_DEV között nincs átjárás -->
                  <add id="Rule1" entryName="Pierrot" entryValue="HVS_DEV" />
                  <!-- HVS_DEV senkit sem lát és őt sem látják -->
                  <add id="Rule2" entryName="HVS_DEV" entryValue="*" />
                </PropertyItems>
              </add>
            </PropertyItems>
          </add>

        </PropertyItems>
      </add>

    </CategoryPropertyItems>
  </TerraGrafSection>

  <StorageSection>
    <CategoryPropertyItems>
      <add id="HibernateProvider">
        <PropertyItems>
          <add id="KnownStorageIdsToReset">
            <PropertyItems>
              <!-- add id="TESTING" /-->
            </PropertyItems>
          </add>
          <add id="HibernateProperties">
            <PropertyItems>
              <add id="Default">
                <PropertyItems>
                  <add id="dialect" entryValue="NHibernate.Dialect.MsSql2008Dialect" />
                  <add id="connection.provider" entryValue="NHibernate.Connection.DriverConnectionProvider" />
                  <add id="connection.driver_class" entryValue="NHibernate.Driver.Sql2008ClientDriver" />
                  <add id="connection.connection_string_name" entryValue="NHibernateStorageProvider" />
                  <add id="connection.isolation" entryValue="ReadCommitted" />
                  <add id="cache.use_query_cache" entryValue="false" />
                  <add id="cache.use_second_level_cache" entryValue="false" />
                  <add id="adonet.batch_size" entryValue="10" />
                  <add id="show_sql" entryValue="false" />
                  <add id="command_timeout" entryValue="60" />
                  <add id="query.substitutions" entryValue="true 1, false 0, yes 'Y', no 'N'" />
                  <add id="max_fetch_depth" entryValue="3" />
                </PropertyItems>
              </add>
            </PropertyItems>
          </add>
        </PropertyItems>
      </add>
    </CategoryPropertyItems>
  </StorageSection>

  <ThreadPoolSection>
    <ThreadPools>
      <add minThreadNumber="1" maxThreadNumber="100" shutDownIdleThreadTime="120000" maxStackSize="0" setReadOnly="false" name="TestName"/>
      <add name="TerraGraf_Network_Send" minThreadNumber="4" maxThreadNumber="100" shutDownIdleThreadTime="120000" maxStackSize="0" setReadOnly="false" />
    </ThreadPools>
  </ThreadPoolSection>

  <log4net debug="true">

    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <param name="LogName" value="ForgeTest" />
      <param name="ApplicationName" value="ForgeTest" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p [%t] [%c] - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="FATAL" />
      </filter>
    </appender>

    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\Logs\\TestLog.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p [%t] [%c] - %m%n" />
      </layout>
    </appender>

    <root>
      <appender-ref ref="EventLogAppender" />
      <appender-ref ref="RollingLogFileAppender" />
      <logger name="NHibernate">
        <level value="ALL" />
      </logger>
      <logger name="NHibernate.SQL">
        <level value="ALL" />
      </logger>
    </root>

    <category name="HVS.Forge.Testing">
      <priority value="ALL" />
    </category>

    <category name="NHibernate">
      <priority value="INFO" />
    </category>

  </log4net>

</configuration>