<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
    <param name="LogName" value="ForgeTest" />
    <param name="ApplicationName" value="ForgeTest" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d %-5p [%t] [%c] - %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="ERROR" />
      <param name="LevelMax" value="FATAL" />
    </filter>
  </appender>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\\LogFiles\\ForgeTestLog.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="100MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d %-5p [%t] [%c] - %m%n" />
    </layout>
  </appender>
  <root>
    <appender-ref ref="EventLogAppender" />
    <appender-ref ref="RollingLogFileAppender" />
    <logger name="NHibernate">
      <level value="ALL" />
    </logger>
    <logger name="NHibernate.SQL">
      <level value="ALL" />
    </logger>
  </root>
  <category name="Forge.Testing">
    <priority value="ALL" />
  </category>
  <category name="NHibernate">
    <priority value="INFO" />
  </category>
</log4net>
