<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="ThreadPoolSection" type="Forge.Threading.ConfigSection.ThreadPoolSection, Forge.Base, Culture=neutral, PublicKeyToken=97960309cfe8d317" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="false" requirePermission="true" />
  </configSections>

  <appSettings>
    <add key="log4net.Internal.Debug" value="false" />
    <add key="ApplicationID" value="$MachineName_$UserName_ForgeTest" />
  </appSettings>

  <ThreadPoolSection>
    <ThreadPools>
      <add minThreadNumber="1" maxThreadNumber="100" shutDownIdleThreadTime="120000" maxStackSize="0" setReadOnly="false" />
    </ThreadPools>
  </ThreadPoolSection>

  <log4net debug="true">
    
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <param name="LogName" value="ForgeTest" />
      <param name="ApplicationName" value="ForgeTest" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p [%t] [%c] - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="FATAL" />
      </filter>
    </appender>
    
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="ForgeTest.log" />
      <appendToFile value="false" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p [%t] [%c] - %m%n" />
      </layout>
    </appender>
    
    <root>
      <appender-ref ref="EventLogAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    
    <category name="Forge.Threading">
      <priority value="Error" />
    </category>
    
  </log4net>

</configuration>