<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="ThreadPoolSection" type="Forge.Threading.ConfigSection.ThreadPoolSection, Forge.Base, Culture=neutral, PublicKeyToken=97960309cfe8d317" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="false" requirePermission="true" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="StorageSection" type="Forge.Persistence.StorageProviders.ConfigSection.StorageSection, Forge.Persistence, Culture=neutral, PublicKeyToken=97960309cfe8d317" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="false" requirePermission="true" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="NHibernateStorageProvider" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=NHibernateStorageProvider.sdf; Password=NHibernateStorageProvider001; Persist Security Info=True" />
  </connectionStrings>
  <appSettings>
    <add key="log4net.Internal.Debug" value="false" />
    <add key="ApplicationID" value="$MachineName_$UserName_ForgeTest" />
  </appSettings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.Sql2008ClientDriver</property>
      <property name="connection.connection_string">Data Source=.\SQLEXPRESS2014; Database=NHibernateTest; Integrated Security=True; Integrated Security=SSPI</property>
      <property name="connection.isolation">ReadCommitted</property>
      <property name="cache.use_query_cache">false</property>
      <property name="cache.use_second_level_cache">false</property>
      <property name="adonet.batch_size">10</property>
      <property name="show_sql">false</property>
      <property name="command_timeout">60</property>
      <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
      <property name="max_fetch_depth">3</property>
    </session-factory>
  </hibernate-configuration>
  <StorageSection>
    <CategoryPropertyItems>
      <add id="NHibernateProvider">
        <PropertyItems>
          <add id="KnownStorageIdsToReset">
            <PropertyItems>
              <!-- add id="TESTING" /-->
            </PropertyItems>
          </add>
          <add id="NHibernateStorages">
            <PropertyItems>
              <add id="Default">
                <PropertyItems>
                  <add id="DatabaseManager" entryValue="Forge.DatabaseManagement.SqlServerCe40.SqlServerCe40Manager, Forge.DatabaseManagement.SqlServerCe40" />
                  <add id="NHibernateSettings">
                    <PropertyItems>
                      <add id="dialect" entryValue="Forge.DatabaseManagement.SqlServerCe40.SqlServerCe40Dialect, Forge.DatabaseManagement.SqlServerCe40" />
                      <add id="connection.provider" entryValue="NHibernate.Connection.DriverConnectionProvider" />
                      <add id="connection.driver_class" entryValue="NHibernate.Driver.SqlServerCeDriver" />
                      <add id="connection.connection_string_name" entryValue="NHibernateStorageProvider" />
                      <add id="connection.isolation" entryValue="ReadCommitted" />
                      <add id="cache.use_query_cache" entryValue="false" />
                      <add id="cache.use_second_level_cache" entryValue="false" />
                      <add id="adonet.batch_size" entryValue="50" />
                      <add id="show_sql" entryValue="false" />
                      <add id="command_timeout" entryValue="0" />
                      <add id="query.substitutions" entryValue="true 1, false 0, yes 'Y', no 'N'" />
                      <add id="max_fetch_depth" entryValue="3" />
                      <add id="use_reflection_optimizer" entryValue="true" />
                      <!--add id="prepare_sql" entryValue="true" /-->
                    </PropertyItems>
                  </add>
                </PropertyItems>
              </add>
            </PropertyItems>
          </add>
        </PropertyItems>
      </add>
    </CategoryPropertyItems>
  </StorageSection>
  <ThreadPoolSection>
    <ThreadPools>
      <add minThreadNumber="1" maxThreadNumber="100" shutDownIdleThreadTime="120000" maxStackSize="0" setReadOnly="false" />
    </ThreadPools>
  </ThreadPoolSection>
  <log4net debug="true">
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <param name="LogName" value="ForgeTest" />
      <param name="ApplicationName" value="ForgeTest" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p [%t] [%c] - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="FATAL" />
      </filter>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="ForgeTest.log" />
      <appendToFile value="false" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p [%t] [%c] - %m%n" />
      </layout>
    </appender>
    <root>
      <appender-ref ref="EventLogAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <category name="Forge.Threading">
      <priority value="Error" />
    </category>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>